@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
/* @layer base { */
/* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  } */

/* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
/* } 

*/
.light {
  background-color: white;
  color: blue;
}
.dark {
  background-color: black;
}
.postion {
  right: -70rem;
}

/* Global Styles for Navigation Link */

/* Light Mode */

/* Responsive Adjustments */

@media (min-width: 350px) {
  .nav-link {
    font-size: 0.9rem; /* text-xl */
    padding: 0.1px 3px;
    top: 27px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 390px) {
  .nav-link {
    font-size: 0.7rem; /* text-xl */
    padding: 0.1px 3px;
    top: 27px;
  }
}
@media (min-width: 400px) {
  .nav-link {
    font-size: 1rem; /* text-xl */
    padding: 0.1px 3px;
    top: 27px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .nav-link {
    font-size: 0.7rem; /* text-xl */
    padding: 0.1px 3px;
    top: 27px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .nav-link {
    font-size: 1.35rem; /* Slightly bigger text-xl */
    padding: 11px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .nav-link {
    font-size: 1.5rem; /* text-2xl */
    padding: 12px;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .nav-link {
    font-size: 1.75rem; /* text-3xl */
    padding: 14px 28px;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .nav-link {
    font-size: 1rem; /* text-4xl */
    padding: 7px 7px;
    left: 19px;
  }
}

/* Responsive Adjustments */

@media (min-width: 350px) {
  .nav-theme-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}
@media (min-width: 390px) {
  .nav-theme-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}
@media (min-width: 400px) {
  .nav-theme-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .nav-theme-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .nav-theme-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .nav-theme-icon {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .nav-theme-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .nav-theme-icon {
    height: 45px;
    width: 45px;
  }
}

/* mobile nav resp */
@media (min-width: 375px) {
  .mobile-nav-icon {
    height: 25px;
    top: 20rem;
    width: 25px;
    border: 2px solid rgb(34, 28, 145);
  }
}
@media (min-width: 390px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
  }
}
@media (min-width: 400px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .mobile-nav-icon {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .mobile-nav-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .mobile-nav-icon {
    height: 45px;
    width: 45px;
  }
}

/* Tech stack responisveness */

@media (min-width: 350px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}
@media (min-width: 390px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
  }
}
@media (min-width: 400px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .mobile-nav-icon {
    height: 25px;
    top: 15px;
    right: 50px;
    width: 25px;
    top: 20;
    left: 30;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .mobile-nav-icon {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .mobile-nav-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .mobile-nav-icon {
    height: 45px;
    width: 45px;
  }
}

/* Hero-text responsivenes */

@media (min-width: 350px) {
  .Hero-centertext {
    font-size: small;
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1px;
  }
}
@media (min-width: 390px) {
  .Hero-centertext {
    font-size: 15px;
    line-height: 5px;
  }
}
@media (min-width: 400px) {
  .Hero-centertext {
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .Hero-centertext {
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .Hero-centertext {
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .Hero-centertext {
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .Hero-centertext {
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .Hero-centertext {
  }
}

/*  img resp */

@media (min-width: 350px) {
  .imag {
    height: 175px;
    width: 175px;
  }
}
@media (min-width: 390px) {
  .imag {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 430px) {
  .imag {
   height: 30px;
    width: 30px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 414px) {
  .imag {
    height: 30px;
    width: 30px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .imag {
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .imag {
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .imag {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .imag {
    height: 100px;
    width: 100px;
  }
}



/* For small devices (500px - 600px) */

/* footer section resp */

@media (min-width: 350px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 390px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 430px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .mobile-nav-icon {
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .footer-section {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1px;
  }
}

/* icon */

@media (min-width: 350px) {
  .foter-logo {
    gap: 30px;
  }
}
@media (min-width: 412px) {
  .foter-logo {
    gap: 5rem;
    display: flex;
  }
}
@media (min-width: 430px) {
  .foter-logo {
    gap: 30px;
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .foter-logo {
    gap: 30px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .foter-logo {
    gap: 30px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .foter-logo {
    gap: 11rem;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .foter-logo {
    gap: 11rem;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .foter-logo {
    gap: 11rem;
  }
}

/* grid */
@media (min-width: 350px) {
  .services {
    
  }
}
@media (min-width: 412px) {
  .services {
   font-size: 15px;
  }
}
@media (min-width: 430px) {
  .services {
    
    font-size: 15px
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .services {
    font-size: 15px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .services {
    gap: 30px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .services {
    gap: 11rem;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .services {
    gap: 11rem;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .services {
    gap: 11rem;
  }
}

@media (min-width: 350px) {
  .h2 {
    font-size: 20px;
  }
}
@media (min-width: 412px) {
  .h2 {
   font-size: 20px;
  }
}
@media (min-width: 430px) {
  .h2 {
    
    font-size: 20px
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .h2 {
    font-size: 20px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .h2 {
    font-size: 30px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .h2 {
    font-size: 1.5rem
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .h2 {
    font-size: 2.5rem
  }
}

/* contact form */
@media (min-width: 350px) {
  .h2 {
    font-size: 20px;
  }
}
@media (min-width: 412px) {
  .h2 {
   font-size: 20px;
  }
}
@media (min-width: 430px) {
  .h2 {
    
    font-size: 20px
  }
}

/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .h2 {
    font-size: 20px;
  }
}

/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .h2 {
    font-size: 30px;
  }
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .h2 {
    font-size: 1rem
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .h2 {
    font-size: 1rem
  }
}


/* p */
@media (min-width: 350px) {
  .p {
    font-size: 13px;
  }
}
@media (min-width: 414px) {
  .p {
   font-size: 15px;
  }
}
@media (min-width: 430px) {
  .p {
    
    font-size: 20px
  }
}
/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .p {
    font-size: 20px;
  }
}
/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .p {
    font-size: 30px;
  }
} 
@media (min-width: 640px) {
  /* sm breakpoint */
  .p {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  /* md breakpoint */
  .p {
    font-size: 1.5rem
  }
} 
@media (min-width: 1024px) {
  /* lg breakpoint */
  .p {
    font-size: 1rem
  }
} 



/* contact form */
 @media (min-width: 350px) {
  .contact-form-placholder {
    
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
@media (min-width: 390px) {
  .contact-form-placholder {
      padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
@media (min-width: 414px) {
  .contact-form-placholder {
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}

@media (min-width: 430px) {
  .contact-form-placholder {
    
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .contact-form-placholder {
     padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .contact-form-placholder {
     padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
} 
@media (min-width: 640px) {
  /* sm breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  /* md breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
} 
@media (min-width: 1024px) {
  /* lg breakpoint */
  .contact-form-placholder {
    border: 0.5px solid goldenrod;
    padding: 15px;
    font-size: 14px;
    font-weight: 200;

  }
}


@media  (min-width: 350px) {
  .contact-form-placholder-text-area {
    height: 7rem;
    padding: 1px;
    font-size: 14px;
    font-weight: lighter;
    border: 0.5px solid goldenrod;
    
  }
}
@media (min-width: 390px) {
  .contact-form-placholder {
     height: 1.5rem;
    padding: 14px;
    font-size: 13px;
    font-weight: lighter;
  }
}
@media (min-width: 414px) {
  .contact-form-placholder {
    height: 1.5rem;
    padding: 14px;
    font-size: 13px;
    font-weight: lighter;
  }
}

@media (min-width: 430px) {
  .contact-form-placholder {
    
      height: 1.5rem;
    padding: 14px;
    font-size: 13px;
  }
}
/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .contact-form-placholder {
     height: 1.5rem;
    padding: 10px;
    font-size: 10px;
  }
}
/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .contact-form-placholder {
    height: 1rem;
  }
} 
@media (min-width: 640px) {
  /* sm breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  /* md breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
} 
@media (min-width: 1024px) {
  /* lg breakpoint */
  .contact-form-placholder {
    height: 2rem;
    padding: 15px;
    font-size: 14px;
    font-weight: 200;

  }
}

 @media (min-width: 350px) {
  .contact-form-placholder {
    
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
@media (min-width: 390px) {
  .contact-form-placholder {
      padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
@media (min-width: 414px) {
  .contact-form-placholder {
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}

@media (min-width: 430px) {
  .contact-form-placholder {
    
    padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
/* For small devices (500px - 600px) */
@media (min-width: 500px) {
  .contact-form-placholder {
     padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
}
/* For small tablets (600px - 700px) */
@media (min-width: 620px) {
  .contact-form-placholder {
     padding: 14px;
    border: 0.5px solid goldenrod;
    font-weight: lighter; 
    font-size: 14px;
  }
} 
@media (min-width: 640px) {
  /* sm breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  /* md breakpoint */
  .contact-form-placholder {
    height: 1.5rem;
  }
} 
@media (min-width: 1024px) {
  /* lg breakpoint */
  .contact-form-placholder {
    border: 0.5px solid goldenrod;
    padding: 15px;
    font-size: 14px;
    font-weight: 200;

  }
}